.burger {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2rem;
  padding-right: 4px;
  margin: 1rem 0;
}

.logo {
  position: relative;
  height: 2rem;
  width: 100%;
}

.logo img {
  width: 25%;

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (min-width: 400px) {
  .logo img {
    width: 20%;
  }
}
@media (min-width: 500px) {
  .logo img {
    width: 15%;
  }
}
@media (min-width: 678px) {
  .logo img {
    width: 12%;
  }
}