.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  margin: 0 auto;
  padding: 134px 0;
}
@media (max-width: 924px) {
  .about {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    padding: 134px 0 80px 0;
  }
}
@media (max-width: 824px) {
  .about {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 524px) {
  .about {
    padding: 134px 0 40px 0;
  }
}

.about h1 {
  font-size: 4rem;
  font-weight: 900;
}
@media (max-width: 1024px) {
  .about h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 724px) {
  .about h1 {
    font-size: 3rem;
  }
}

@media (max-width: 724px) {
  .about p {
    font-size: 1.2rem !important;
  }
}

.image {
  width: 27vw;
  margin: auto;
}
@media (max-width: 924px) {
  .image {
    width: 40vw;
  }
}

.image img {
  border-radius: 100%;
}

.text {
  padding: 2.5rem;
}
@media (max-width: 724px) {
  .text {
    padding: 2rem;
  }
}
@media (max-width: 400px) {
  .text {
    padding: 1rem;
  }
}