.Elite {
  padding: 134px 0;
}

.Elite h1 {
  display: none;
}

.EliteGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 2rem auto;
}
@media (max-width: 1024px) {
  .EliteGrid {
    grid-template-columns: 1fr;
    width: 660px;
    margin: 2rem auto;
  }
}

.EliteHome {
  margin: 2rem;
  box-shadow: var(--box-shadow-more);
}
@media (max-width: 768px) {
  .EliteHome {
  }
}
@media (max-width: 768px) {
  .EliteHome img{
  }
}

.EliteHomeTop {

}

.EliteHomeBottom {
}

.EHtitle {
  text-align: center;
  font-size: 2rem;
}

.EHsummary {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.EHaddress h3 {
  font-size: var(--font-small);
}

.EHprice {
  font-size: var(--font-size);
}

.EHtitle,
.EHsummary {
  margin-bottom: 1rem;
}

.EHdescription {
  padding: 1rem;
}
