.pageContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.topGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 100px;
}
@media (max-width: 1400px) {
  .topGrid {
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
  }
}
@media (max-width: 900px) {
  .topGrid {
    margin-bottom: 100px;
  }
}
@media (max-width: 768px) {
  .topGrid {
    margin-top: 20px;
  }
}
@media (max-width: 600px) {
  .topGrid {
    margin-bottom: 50px;
  }
}

.rightGrid {
  width: 100%;
  height: 550px;
  display: flex;
}
@media (max-width: 1400px) {
  .rightGrid {
    height: auto;
  }
}

@media (max-width: 1400px) {
  .rightGrid img {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .rightGrid img {
    width: 0;
  }
}

.leftGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  height: 550px;

  /* background-image: url(https://res.cloudinary.com/mimas-music/image/upload/v1603909104/13.jpg); */
  background-image: url(https://res.cloudinary.com/mimas-music/image/upload/v1604349890/blackPolygon.jpg);
  background-size: cover;
  padding: 2rem;
}
@media (max-width: 1400px) {
  .leftGrid {
    position: absolute;
    top: 7%;
    right: 7%;

    background: rgba(0,0,0,0.8);
  }
}
@media (max-width: 1000px) {
  .leftGrid {
    top: 5%;
    right: 3%;

    height: auto;
  }
}
@media (max-width: 824px) {
  .leftGrid {
    width: 380px;
  }
}
@media (max-width: 700px) {
  .leftGrid {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 640px) {
  .leftGrid {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;

    /* background-image: url(https://res.cloudinary.com/mimas-music/image/upload/v1603909104/13.jpg); */
    background-image: url(https://res.cloudinary.com/mimas-music/image/upload/v1604349890/blackPolygon.jpg);
    padding: 1rem;
  }
}

.leftGrid div:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.leftGrid h1 {
  color: var(--text-white);
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 1.2;
}
@media (max-width: 824px) {
  .leftGrid h1 {
    font-size: 4rem;
  }
}
@media (max-width: 700px) {
  .leftGrid h1 {
    font-size: 3.5rem;
  }
}

.leftGrid span {
  color: var(--rhone-orange);
  font-size: 5.5rem;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1;
}
@media (max-width: 824px) {
  .leftGrid span {
    font-size: 4.5rem;
  }
}
@media (max-width: 700px) {
  .leftGrid span {
    font-size: 4rem;
  }
}

.SeeContactBox {
  display: flex;
}

.See a {
  color: var(--text-dark);
  font-size: 1.4rem;
}

.See span {
  color: var(--rhone-orange);
  font-size: 1.4rem;
}

.See,
.Contact {
  width: 225px;
  background: var(--off-white);
  padding: 1rem;
  appearance: none;
  outline: 0;
  border: none;
  display: block;
  text-decoration: none;
  cursor: pointer;
}


.See:hover,
.Contact:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.Contact {
  background: rgba(0,0,0,0.8);
  border-top-style: 2px solid var(--grey-800);
  border-right-style: 2px solid var(--grey-800);
  border-bottom-style: 2px solid var(--grey-800);
}

.Contact a {
  color: var(--text-white);
}

/* Styles for Contact Form */
.contactGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-bottom: 200px;
}
@media (max-width: 900px) {
  .contactGrid {
    margin-bottom: 100px;
  }
}
@media (max-width: 640px) {
  .contactGrid {
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }
}

.contactThanks {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-bottom: 200px;
}

.contactBox {
  text-align: center;
}
@media (max-width: 640px) {
  .contactBox {
    /* margin-top: 40px; */
  }
}
@media (max-width: 640px) {
  .contactBox h3 {
    margin-bottom: 40px !important;
  }
}
@media (max-width: 640px) {
  .contactBox img {
    margin-bottom: 40px !important;
  }
}

.contactBox img {
  border-radius: 50%;
  width: 100%;
}
@media (max-width: 1400px) {
  .contactBox img {
    width: 75%;
  }
}
/* Styles for Viva El Paso */
.vivaBox {
  margin-bottom: 4rem;
}

.vivaGrid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}
@media (max-width: 1100px) {
  .vivaGrid {
    display: block;
  }
}

.vivaHeading {
  max-width: 600px;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .vivaHeading {
    width: 500px;
  }
}
@media (max-width: 1100px) {
  .vivaHeading {
    width: 700px;
    padding-bottom: 2rem;
  }
}
@media (max-width: 640px) {
  .vivaHeading {
    width: 500px;
  }
}
@media (max-width: 524px) {
  .vivaHeading {
    width: 400px;
  }
}
@media (max-width: 478px) {
  .vivaHeading {
    width: 350px;
  }
}
@media (max-width: 400px) {
  .vivaHeading {
    width: 325px;
  }
}
@media (max-width: 360px) {
  .vivaHeading {
    width: 300px;
  }
}

.vivaHeading h3,
.contactBox h3 {
  font-family: var(--default-serif);
  font-style: italic;

  color: var(--text-normal);
  font-size: 3.5rem;
  text-align: center;
  margin: 2rem 0;
}
@media (max-width: 1280px) {
  .vivaHeading h3,
  .contactBox h3 {
    font-size: 2.5rem;
  }
}
@media (max-width: 1100px) {
  .vivaHeading h3,
  .contactBox h3 {
      margin: 0;
  }
}

.vivaHeading h3 span {
  font-family: var(--default-serif);
  color: var(--text-normal);
  font-size: 3.5rem;
  font-style: italic;
}

.vivaHeading p {
  font-size: var(--font-larger);
}

.coupledContainer {
  align-self: end;
}
@media (max-width: 1100px) {
  .coupledContainer {
    width: 70vw;
    margin: 2rem auto 0 auto;
  }
}
@media (max-width: 724px) {
  .coupledContainer {
    width: 85vw;
  }
}

/* Styles for page four */
@media (max-width: 1100px) {
  .pageFour {
    margin-top: 8rem;
  }
}
@media (max-width: 724px) {
  .pageFour {
    margin-top: 4rem;
  }
}
@media (max-width: 640px) {
  .pageFour {
    margin-top: 2rem;
  }
}
