/* Styles for IndexContact */
.indexForm {

}

.indexForm input,
.indexForm fieldset,
.indexForm select {
  display: block;
  appearance: none;
  outline: 0;
  border: none;
  background-color: rgba(207, 207, 207, 0.3);
  width: 500px;
  margin: 1rem 0;
  padding: 10px 15px;
  font-size: var(--font-largest);
  color: var(--text-dark);
  transition-duration: 0.25s;
  font-weight: 300;
}
@media (max-width: 1024px) {
  .indexForm input,
  .indexForm fieldset,
  .indexForm select {
    width: 400px;
  }
}
@media (max-width: 824px) {
  .indexForm input,
  .indexForm fieldset,
  .indexForm select {
    width: 300px;
    font-size: var(--font-larger);
  }
}

.indexForm textarea {
  display: block;
  appearance: none;
  outline: 0;
  border: none;
  background-color: rgba(207, 207, 207, 0.3);
  width: 500px;
  height: 100px;
  margin: 1rem 0;
  padding: 10px 15px;
  font-size: var(--font-largest);
  color: var(--text-dark);
  transition-duration: 0.25s;
  font-weight: 300;
}
@media (max-width: 1024px) {
  .indexForm textarea {
    width: 400px;
  }
}
@media (max-width: 824px) {
  .indexForm textarea {
    width: 300px;
    font-size: var(--font-larger);
  }
}

.indexInput::placeholder {
  color: var(--text-normal);
  font-weight: 300;
}

.indexForm input:hover {
  background-color: rgba(207, 207, 207, 0.6);
}

.indexForm button {
  appearance: none;
  outline: 0;
  background-color: var(--rhone-orange);
  border: none;
  padding: 10px 15px;
  color: var(--text-white);
  width: 250px;
  cursor: pointer;
  font-size: var(--font-largest);
  transition-duration: 0.25s;
  margin: 1rem 0;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  box-shadow: var(--box-shadow);
}

.indexForm button:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

/* Styles fro ContactForm */
.form input,
.form fieldset,
.form select {
  display: block;
  appearance: none;
  outline: 0;
  border: none;
  background-color: rgba(207, 207, 207, 0.3);
  width: 500px;
  margin: 1rem 0;
  padding: 10px 15px;
  font-size: var(--font-largest);
  color: var(--text-dark);
  transition-duration: 0.25s;
  font-weight: 300;
}
@media (max-width: 1024px) {
  .form input,
  .form fieldset,
  .form select {
    width: 400px;
  }
}
@media (max-width: 824px) {
  .form input,
  .form fieldset,
  .form select {
    width: 300px;
    font-size: var(--font-larger);
  }
}

.form textarea {
  display: block;
  appearance: none;
  outline: 0;
  border: none;
  background-color: rgba(207, 207, 207, 0.3);
  width: 500px;
  height: 100px;
  margin: 1rem 0;
  padding: 10px 15px;
  font-size: var(--font-largest);
  color: var(--text-dark);
  transition-duration: 0.25s;
  font-weight: 300;
}
@media (max-width: 1024px) {
  .form textarea {
    width: 400px;
  }
}
@media (max-width: 824px) {
  .form textarea {
    width: 300px;
    font-size: var(--font-larger);
  }
}

.input::placeholder {
  color: var(--text-normal);
  font-weight: 300;
}
/* ::-webkit-input-placeholder {
  color: var(--grey-800);
  font-weight: 300;
}
:-moz-placeholder {
  color: var(--grey-800);
  opacity: 1;
  font-weight: 300;
}
:-moz-placeholder {
  color: var(--grey-800);
  opacity: 1;
  font-weight: 300;
}
:-ms-input-placeholder {
  color: var(--grey-800);
  font-weight: 300;
} */

.form input:hover {
  background-color: rgba(207, 207, 207, 0.6);
}

/* .form input:focus {
  background-color: white;
  width: 250px;
  color: var(--text-dark);
} */

.form button {
  appearance: none;
  outline: 0;
  background-color: var(--rhone-orange);
  border: none;
  padding: 10px 15px;
  color: var(--text-white);
  width: 250px;
  cursor: pointer;
  font-size: var(--font-largest);
  transition-duration: 0.25s;
  margin: 1rem 0;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  box-shadow: var(--box-shadow);
}

.form button:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.errors {
  font-size: var(--font-smallest);
  color: red;
}
